.wrapper {
    margin: 50px 0 8px;
}

.container {
    max-width: 701px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}


.label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 143%;
    color: #F78CB6;
}
.text {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #919299;
}