.wrapper {
    margin: 50px 0 18px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 701px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.label {
    font-weight: 500;
    font-size: 28px;
    line-height: 143%;
    color: #F78CB6;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 160%;
    color: #919299;
}

.subheading {
    font-weight: 700;
    font-size: 52px;
    line-height: 119%;
    color: #56597A;

}