.ideas {

    &__label {
        margin-bottom: 15px;
    }

    &__subheading {
        max-width: 467px;
        margin-left: 3px;
        margin-bottom: 24px;
    }

    &__text {
        margin-left: 3px;
        margin-bottom: 15px;
    }

		&__wrap-image {
            text-align: center;
		}

		&__image {
		}
}


